{% extends "layout/basic.html" %}

{% block title%}Вход
{% endblock%}

{% block content %}
{%if user.is_authenticated %}
    <p>Вы уже выполнили вход ранее.</p>
{% else %}

<div class="mx-auto mt-5" style="width: 400px;">
    <form method="POST">
        {% csrf_token %}
            {{ form.as_p}}
    <!-- <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div-->
    <button type="submit" class="btn btn-primary" style="width: 400px;">Submit</button> 
  </form>
  <a href="{% url 'shop:register_user' %}">    <button  class="btn btn-primary" style="width: 400px;">Регистрация нового пользователя</button> 
  </a>
</div>
{% endif %}
  {% endblock %}